body {
    color: #444;
    margin: 0;
    background: #1d1d1d;
   
  }
  main{
    display: flex;
    justify-content: space-around;
    margin-top: 3vw;
  }
  .logo{
    margin-left: -5vw;
 
  }
  .container3 .one{
    text-decoration: none;
    color: #bfc0c0;
    font-size: 1.2vw;
    padding: 1vw;  
    font-family: 'Poppins', sans-serif;
  }
  .container3{
    color: #bfc0c0;
    padding-left: 9vw;

  }
  .logo span{
    color: #4ccf5e;
  }
  .logo h4{
    color: #bfc0c0;
    font-size: 1.5vw;
    margin-top: -0.2vw;
    font-family: 'Lobster', cursive;
  }
  .col2{
    width: 70%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .col3{
    width: 20%;
  }
  .col1 a{
    display: flex;
    flex-direction: column;
    padding: 1vw;
    width: 2%;
    margin-left: 1vw;
  
  }
  .container .col1{
    margin-top: 20vw;
    background-attachment: fixed;
  }
.vl{
 
  height: 10vw;
  border-left: 0.2vw solid #bfc0c0;
  height: 6vw;
  margin-left: 2vw;
  top: 0;
}
.water{
  font-size: 2vw;
  margin-left: 5vw;
}
.container{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 2vw;
}
.col3 a{
  color: #bfc0c0;
  writing-mode: vertical-rl;
  font-size: 1.2vw;
  padding-bottom: 0.5vw;
  margin-top: 20vw;
  text-decoration: none;
  
}
.col3{
  margin-right: -17vw;
  background-attachment: fixed;
}
.col3 .vl{
    height: 10vw;
    border-left: 0.2vw solid #bfc0c0;
    height: 7vw;
    margin-left: 1vw;
    top: 0;
 
}
.col2 h5{
  color: #bfc0c0;
  font-size: 1.9vw;
  font-family: 'Raleway', sans-serif;
}
.col2 h5 span{
  color: #4ccf5e;
}
.story p{
  margin-top: -2vw;
  color: #bfc0c0;
  font-size: 1.2vw;
  line-height: 1.8vw;
  font-family: 'Poppins', sans-serif;
}
.buttons a{
  text-decoration: none;
  color: #bfc0c0;
  border: 0.1vw solid #4ccf5e;
  padding: 1vw;
  width: 100vw;
  margin: 1vw;
  border-radius: 3vw;
}
.buttons{
  margin-top: 2vw;
}
.image img{
  border-radius: 7vw;
  height: 30vw;

}
.image{
  margin-left: 5vw;
}
.story li{
  color: #bfc0c0;
  margin-left: 2vw;
}