body {
    color: #444;
    margin: 0;
    background: #1d1d1d;
   
  }
  main{
    display: flex;
    justify-content: space-around;
    margin-top: 2vw;
  }
  .logo{
    margin-left: -5vw;
 
  }
  .container3 .one{
    text-decoration: none;
    color: #bfc0c0;
    font-size: 1.2vw;
    padding: 1vw;  
  }
  .container3{
    color: #bfc0c0;
    padding-left: 9vw;

  }
  .logo span{
    color: #4ccf5e;
  }
  .logo h4{
    color: #bfc0c0;
    font-size: 1.5vw;
    margin-top: -0.2vw;
  }
  .col2{
    width: 70%;
  }
  .col3{
    width: 20%;
  }
  .col1 a{
    display: flex;
    flex-direction: column;
    padding: 1vw;
    width: 2%;
    margin-left: 1vw;
  
  }
  .container .col1{
    margin-top: 22vw;
    background-attachment: fixed;
  }
.vl{
 
  height: 10vw;
  border-left: 0.2vw solid #bfc0c0;
  height: 10vw;
  margin-left: 2vw;
  top: 0;
}
.container{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 4vw;
}